#usermain{
	background-color: rgb(255, 153, 240);
}

#usermain ion-footer-bar{
	bottom: 0;
	height: 70px;
	background-color: rgb(52,52,52);
}

#usermain ion-footer-bar div.title{
	height: 100%;
}

#usermain .btnReport{
	height: 100%;
	width: 30%;
}