<ion-view title="HeroMain" id="heromain">
    <ion-content overflow-scroll="true" padding="false" scroll="true">
        HERO PAGE
        <ion-footer-bar align-title="center">
            <div class="title">
                <button class="button button-assertive btnReport">Major</button>
                <button class="button button-orange btnReport">Minor</button>
                <button class="button button-yellow btnReport">Info</button>
            </div>
        </ion-footer-bar>
    </ion-content>
</ion-view>
