<ion-view title="" id="heromain">
    <ion-content overflow-scroll="true" padding="false" scroll="true">
        <div class="row no-padding rootRow">
            <div class="col-67">
            	<div class="row no-padding">
                    <div class="col" ng-hide="disAvatar">
                        <img ng-src="{{ avatarimg }}" style="width: 100%; height: auto;" />
                        <h3 style="text-align: center;">{{ hero.hero.codename | uppercase }}</h3>
                    </div>
                    <div class="col" ng-hide="disAbilities">
                        <h2 style="text-align: center;">Abilities</h2>
                        <ul class="list">
                            <li class="item" ng-repeat="ability in abilities">
                                <h4>{{ ability.ability }}</h4>
                                <p>{{ ability.description }}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col" ng-hide="disBadges">
                        Badges
                    </div>
                </div>
            </div>
            <div class="col-33">
            	<div class="row no-padding">
                    <div class="col">
                        <button class="button button-success" ng-click="showAvatar()">Avatar</button>
                    </div>
                </div>
                <div class="row no-padding">
            		<div class="col">
            			<button class="button button-success" ng-click="showAbilities()">Abilities</button>
            		</div>
            	</div>
            	<div class="row no-padding">
            		<div class="col">
            			<button class="button button-success" ng-click="showBadges()">Badges</button>
            		</div>
            	</div>
            </div>
        </div>
    </ion-content>
</ion-view>
