<ion-view title="UserMain" id="usermain">
    <ion-content overflow-scroll="true" padding="false" scroll="true">
        <div class="row no-padding" style="height: 500px;">
            <div class="col no-padding" style="height: 500px;">
                <div id="map" data-tap-disabled="true" style="height: 500px;"></div>
            </div>
        </div>
        <ion-footer-bar align-title="center">
            <div class="title">
                <button class="button button-assertive btnReport" ng-click="showPopup()">Major</button>
                <button class="button button-orange btnReport">Minor</button>
                <button class="button button-yellow btnReport">Info</button>
            </div>
        </ion-footer-bar>
    </ion-content>
</ion-view>
