<ion-view title="UserMain" id="usermain">
    <ion-content overflow-scroll="true" padding="false" scroll="true">
        <div class="row no-padding" style="height: 500px;">
            <div class="col no-padding" style="height: 500px;">
                <div id="map" data-tap-disabled="true" style="height: 500px;"></div>
            </div>
        </div>
        <ion-footer-bar align-title="center">
            <div class="title">
                <!-- <button class="button button-assertive btnReport" ng-click="showPopup()">Major</button> -->
                <button class="button button-clear btnReport" ng-click="showRed()"><img src="img/red.png"></button>
                <button class="button button-clear btnReport" ng-click="showOrange()"><img src="img/orange.png"></button>
                <button class="button button-clear btnReport" ng-click="showYellow()"><img src="img/yellow.png"></button>
            </div>
        </ion-footer-bar>
    </ion-content>
</ion-view>
