@font-face {
    font-family: neoteric;
    src: url('/font/neotericbold.ttf');
}

#heromain #name{
	font-family: neoteric;
	font-size: 60px;
}

#heromain ion-content div.rootRow{
	height: 100%;
}

#heromain ion-content div.rootRow .col-67{
	height: 100%;
	background-image: url("/img/hero/wallpaper.jpg");
}

#heromain ion-content div.rootRow .col-67 .row{
	height: 100%;
}

#heromain ion-content div.rootRow .col-67 .row .col{
	height: 100%;
}


#heromain ion-content div.rootRow .col-33{
	background-color: rgb(255, 153, 240); 
	height: 100%;
}

#heromain ion-content div.rootRow .col-33 button{
	width: 100%;
	height: 70px;
	background-color: transparent;
}

#heromain ion-content div.rootRow .col-33 button img{
	height: 100%;
	width: auto;
}