<div class="no-padding" id="majorPop">
	<div class="row no-padding">
		<div class="col">
			<button class="button button-pink">
				<!-- Violence -->
			</button>
		</div>
		<div class="col">
			<button class="button button-pink">
				<!-- On-Labor -->
			</button>
		</div>
		<div class="col">
			<button class="button button-pink">
				<!-- Robbery -->
			</button>
		</div>
	</div>
	<div class="row no-padding">
		<div class="col">
			<button class="button button-pink">
				<!-- Accident -->
			</button>
		</div>
		<div class="col">
			<button class="button button-pink">
				<!-- Major Injury -->
			</button>
		</div>
		<div class="col">
			<button class="button button-pink">
				<!-- Rape -->
			</button>
		</div>
	</div>
<div>

<style type="text/css">
	#majorPop{
		background-color: black;
	}

	#majorPop .col{
		text-align: center;
	}
</style>