<div class="no-padding" id="orangePop">
	<div class="row no-padding">
		<div class="col-33">
			<button class="button button-pink">
				Lost
			</button>
		</div>
		<div class="col-33">
			<button class="button button-pink">
				Sick
			</button>
		</div>
		<div class="col-33">
			<button class="button button-pink">
				Stranded
			</button>
		</div>
	</div>
	<div class="row no-padding">
		<div class="col-33">
			<button class="button button-pink">
				Pervert
			</button>
		</div>
		<div class="col-33">
			<button class="button button-pink">
				Minor Injury
			</button>
		</div>
		
	</div>
<div>

<style type="text/css">
	/*#orangePop{
		background-color: black;
		height: 150px;
	}*/

	#orangePop .row{
		height: 50%;
	}

	#orangePop .col-33{
		text-align: center;
		padding: 2.5%;
		height: 100%;
	}

	#orangePop button{
		font-size: 70%;
		width: 100%;
		height: 100%;
		padding: 0;
		/*font-size-adjust: 0.58;*/
	}
</style>