<ion-view title="Main" id="main">
    <ion-content overflow-scroll="true" padding="false" scroll="true">
        <div class="row" id="logodiv">
            <div class="col no-padding">
                <div class="row no-padding">
                    <div class="col no-padding">
                        <img src="img/icon.png" />
                    </div>
                </div>
                <div class="row no-padding">
                    <div class="col no-padding">
                        <img src="img/nameicon.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-padding">
            <div class="col">
                <label class="item item-input">
                    <input type="text" placeholder="Username" ng-model="loginData.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="loginData.password">
                </label>
                <button ng-click="doLogin()" class="button button-block button-dark">
                    LOG IN
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
